<template>
  <div>
    <label for="" style="font-size: 2rem;">จัดการข้อมูลการอบรม</label>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="หัวข้อการอบรม" label-for="topics">
          <b-form-input
            id="topics"
            v-model="form.topics"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-3"
          label="บริษัทที่เข้าร่วม"
          label-for="company"
        >
          <b-form-select
            id="company"
            v-model="form.company"
            :options="companyOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group label="ประเภทการอบรม">
          <b-form-checkbox-group
            id="checkbox-group-1"
            v-model="selected"
            :options="typeOptions"
            name="flavour-1"
          ></b-form-checkbox-group>
        </b-form-group>
        <b-form-group label="วันที่" label-for="datetime">
          <b-form-input
            id="datetime"
            v-model="form.datetime"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="เวลา" label-for="time">
          <b-form-input id="time" v-model="form.time" required></b-form-input>
        </b-form-group>
        <b-form-group label="จำนวนคนที่รับ" label-for="amount">
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="จำนวนชั่วโมง" label-for="hours">
          <b-form-input id="hours" v-model="form.hours" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลการอบรม',
      form: {
        id: '-1',
        topics: '',
        company: '',
        datetime: '',
        time: '',
        amount: '',
        hours: ''
      },
      companyOptions: [
        { value: 'clicknext', text: 'Clicknext' },
        { value: 'donut', text: 'Donut' }
      ],
      typeOptions: [
        { value: '1', text: 'เตรียมความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      userList: [
        {
          id: 1,
          company: 'Clicknext',
          topics: 'LINE API Workshop',
          datetime: '13.00-16.00 น.',
          amount: '80'
        },
        {
          id: 2,
          company: 'DONUT',
          topics: 'Writing application documents',
          datetime: '13.00-16.00 น.',
          amount: '120'
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ลำดับ', class: 'text-center' },
        { key: 'company', label: 'บริษัท', class: 'text-center' },
        { key: 'topics', label: 'หัวข้อการอบรม', class: 'text-center' },
        { key: 'datetime', label: 'วันที่-เวลา', class: 'text-center' },
        { key: 'amount', label: 'จำนวนที่รับ', class: 'text-center' },
        { key: 'operation', label: 'เครื่องมือ', class: 'text-center' }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.title = 'เพิ่มข้อมูลการอบรม'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขข้อมูลการอบรม'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ต้องการลบข้อมูลใช่หรือไม่', {
          title: 'ลบข้อมูลการอบรม',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.DeleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: '-1',
        topics: '',
        company: '',
        datetime: '',
        time: '',
        amount: '',
        hours: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    DeleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  }
}
</script>
